<!-- 蚊蚊网的主页 -->
<html>
<head>
	<title>蚊蚊网</title>
	<script type="text/javascript" src="/global/jquery.js"></script>
	<script type="text/javascript" src="/main_page_js/mainpage.js"></script>
	<link rel="stylesheet" type="text/css" href="/main_page_css/mainpage.css">
	<script type="text/javascript" src="/search_js/search.js"></script>
	<link rel="stylesheet" type="text/css" href="/search_css/search2.css">
	<link rel="stylesheet" type="text/css" href="/main_page_css/append.css">
</head>
<body align="center">
<div id="Main">
	<div id="together">
		<span id="logo">蚊蚊网</span>
		<a id="main_page" href="/mainpage/">主页</a>
		<a id="log" href="/log/">日志</a>
		<a id="photos" href="/photos/">相册</a>
		<a id="say" href="/say/">说说</a>
		<a id="deal" href="/deal/">交易</a>
		<a id="personal" href="/info/">信息</a>
	</div>
	
	<div id="top_right">
		<form id="search" action="/search/" method="get" align="right">
			<span><input type="text" max-length="100" id="search_input" name="search" ></span>
			<span><input type="submit" id="search_submit" value="查询"></span>
		</form>
		<a href="/logout/" id="account">登出</a>
	</div>
</div>

<!-- -->
<div id="search_speci">
	<div id="search_speci2">
		<div>查找结果:</div>
		<div id="friends_set">
			小猪
		</div>
	</div>
	<div id="handup">收起</div>
</div>
<!---------------------------------------------------->

<div id="second">
	<div id="sample_info">
		<div id="head_img">
			<img src="{{ user.picture }}/main_page_css/1.jpg" href="/my_picture/" id="picture">
		</div>
		<div id="sample_info2">
			<span id="name">{{ user.name }}姚逢靖</span><br /><br />
			<span id="level">{{ user.level }}21级</span>
		</div>
	</div>
</div>

<div id="panel">
	<textarea id="quick_say" align="center" wrap="physical">发布说说</textarea>
	<div id="say_bottom">
		<span id="last_say">{{ user.last_say }}我靠了啦</span>
		<span><button id="public_say">发布</button></span>
	</div>
</div>

<div id="left">
hello
</div>
<div id="center" align="center">
</div>
<div id="right">
<div id="last_comers">
	<span id="last_comer">最近来访</span><span id="comer_num">{{ user.last_comers }}</span>
</div>
</div>	

<div id="toolkit">

</div>
</body>
</html>